$breakpoint-mobile:750px;
$breakpoint-tablet: 1020px;

.checkout-container {
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
  
  
    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  
      .header-block  {
        text-transform: capitalize;
        width: 23%;
        margin-left:2vh ;
  
        &:last-child {
          width: 8%;
        }
      }
    }
  
    .total {
     display:flex;
    
      margin-top: 30px;
      margin-left:auto;
      font-size: 27px;
    }
    @media screen and (width:1024px) {
      width:70% ;
    }
    @media screen and (max-width:$breakpoint-tablet) {
      width:100% ;
      
    }
  


    @media screen and (max-width:$breakpoint-mobile) {
      width:100%;
      display: flex;
      flex-direction:column;
      align-items:center ;
   

      .checkout-header{
        width:121% ;
   
        gap:0.5rem;
        
        
     
        .header-block{
          width:27% ;
         
          span{
            font-size:0.6rem ;
            
            margin-left:-1rem;

          }
         
        }
      }
      .total{
        font-size: 1.3rem;
      }
    }
    @media screen and (width:280px) {
      width:110% ;
      margin-left: -.5rem;
      .header-block{
       
       
       
        span{
          font-size:0.4rem ;
        
        }
       
      }
      
    }
    @media screen and (width:540px) {
      width:80% ;
     
      
    }
    @media screen and (width:412px) {
      margin-left:.2rem
     
      
    }
  
  }